body{
background-image:url("./backgrond.jpg");
background-size:cover;
background-position:center;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.forget-form {
    width: 35%;
    height: 38%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border : solid #111111  2px;
  }





.col-12{
    margin: 10px;
    padding:25px ;
    border : solid #111111  2px;
}
span{
    display: flex;
    justify-content: center;
}
.Link{
    text-decoration: none!important;
    padding: 0 .25rem;
}